profile-view {
    .profile-view__image-container{
        background: cornflowerblue;
        height: 220px;
    }
    .profile-view__image{
        height: 200px;
        max-height: 200px;
        padding: 20px;
        width: 100%;
    }

}
